body{
  margin: 0;
  padding: 0;
  background-image: url(./paper-bg.jpg);
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Homemade Apple', cursive;
  color: #555;
  padding: 15px;
  margin: 15px 15px 5px 15px;
  font-size: 2em;
}

.sub{
  font-size: 80%;
  color: #666;
  margin: 0px 15px;
  text-shadow: 0 1px 1px #fff;
}

.image img{
 width: 98%;
 max-width: 1000px;
 display: block;
 margin: 0 0 10px 0;
 border: solid 3px #fff;
 box-shadow: 3px 3px 3px #bbb;
 box-sizing: border-box;
 clear: both;
}

.date{
  font-size: 90%;
  text-align: left;
  float: right;
  margin: 15px 0;
  padding: 5px 20px;
  width: 7em;
  background-color: rgba(230, 10, 10, 0.6);
  color: #fff;
  box-shadow: 2px 2px 2px #bbb;
  font-family: 'Homemade Apple', cursive;
}

.caption, .nav{
  margin: 0 15px 15px 15px;
}

.caption{
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px #bbb;
}

.caption a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.caption image{
  display: none;
}
